<div class="wrapper-home">
  <img class="img-userpic" [src]="'/assets/icons/user/' + pal.userPic + '.svg'" alt="">
  <div class="wrapper-user-info">
    <p class="user-name">{{pal.userName}}</p>
    <a [routerLink]="['/user/chats', id]" class="link-send-message">
      <img [src]="'/assets/icons/send-message.svg'" class="img-send-message">
    </a>
    <ng-container *ngFor="let data of pal.userInfo">
      <p class="user-info-title">{{data.title}}:</p>
      <p class="user-info-value">{{data.value}}</p>
    </ng-container>
  </div>
</div>