button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.page-icon {
  object-position: -25px 0%;
  clip-path: inset(0 25% 0 25%);
  cursor: pointer;
  width: 100px;
}

.page-icon-hover {
  object-position: 25px 0;
}

.page-icon:hover {
  object-position: 25px 0;
}

.disable-icon {
  pointer-events: none;
}
