.button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.disable-icon {
  pointer-events: none;
}

.user-settings--trash {
  position: relative;
  left: 220px;
}

.user-add-pal--refresh {
  position: relative;
  bottom: 40px;
  left: 110px;
}
