button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* ********************************** */

.page-icon {
  object-position: -25px 0%;
  clip-path: inset(0 25% 0 25%);
  cursor: pointer;
  width: 100px;
}

.page-icon-hover {
  object-position: 25px 0;
}

.page-icon:hover {
  object-position: 25px 0;
}

.disable-icon {
  pointer-events: none;
}

/* ********************************** */

.refresh-button {
  position: relative;
  bottom: 40px;
  left: 110px;
}


.refresh-secret-key {
  width: 25px;
  transition: transform 1s;
}

.refresh-secret-key:hover {
  transform: rotate(360deg);
}
