<div class="flex-page">
  <div class="logo-wrapper">
    <img
      class="header-icon"
      src="assets/icons/whales.svg"
    />
    <div *ngIf="this.queryParam && !mainPageService.isInvalidForm(authForm)"
      class="block-error-message">
      <img src="assets/icons/message.svg"/>
      <p class="error-message">email is not registered</p>
    </div>
    <div *ngIf="mainPageService.isInvalidForm(authForm)"
      class="block-error-message">
      <img src="assets/icons/message.svg"/>
      <p class="error-message">{{mainPageService.getErrorMessage(authForm)}}</p>
    </div>
  </div>
  <form class="page-form" [formGroup]="authForm">
    <input 
      *ngFor="let item of mainPageService.inputDatas"
      [ngClass]="mainPageService.isInvalidForm(authForm) ? 'input-invalid' : 'input-valid'"
      [attr.id]="item.id ? item.id : null"
      [formControlName]="item.formControlName"
      spellcheck="false"
      class="main-page-input"
      [attr.type]="item.type ? item.type : null"
      [placeholder]="item.placeholder"
    />
    <div class="button-wrapper">
      <app-button
        [link]="['user', '5']"
        (click)="login()"
        [ngClass]="authForm.invalid ? '' : ''"
        imgSrc="assets/icons/login.svg"
        buttonType="submit"
      ></app-button>
      <app-button
        [link]="['/registration']"
        imgSrc="assets/icons/registration.svg"
      ></app-button>
    </div>
  </form>
  <app-footer></app-footer>
</div>
