<div class="flex-page">
  <div class="logo-wrapper">
    <img
      class="header-icon"
      src="../../../assets/icons/fishes.svg"
    />
    <div 
      [ngClass]="mainPageService.isInvalidForm(authForm) ? 'error-message-visible' : ''" 
      class="error-message-hidden">
      <img src="../../../assets/icons/message.svg"/>
      <ng-container *ngFor="let item of mainPageService.errorData">
        <p 
          *ngIf="mainPageService.getErrorMessage(authForm) == item[0]" 
          class="error-text-message">{{item[1]}}</p>
      </ng-container>
    </div>
  </div>
  <form class="main-page-form" [formGroup]="authForm">
    <input 
      *ngFor="let item of ['email','password']"
      [ngClass]="mainPageService.isInvalidForm(authForm) ? 'main-page-input-invalid' : 'main-page-input-valid'"
      [id]="item"
      [formControlName]="item"
      spellcheck="false"
      class="main-page-input"
      [type]="item"
      [placeholder]="item"
    />
    <div class="main-page-buttons-wrapper">
      <button type="submit" [ngClass]="authForm.invalid ? 'disable-icon' : ''">
        <img
          class="main-page-icon login"
          src="../../../assets/icons/login.svg"
        />
      </button>
      <button>
        <img
          (click)="test()"
          class="main-page-icon registration"
          src="../../../assets/icons/registration.svg"
        />
      </button>
    </div>
  </form>
  <app-footer></app-footer>
</div>
