.footer {
  width: 100%;
  color: var(--gray);
  text-align: center;
}

.footer-item {
  padding: 5px 0;
}

.footer-link {
  color: var(--gray);
  text-decoration: none;
  padding: 0px 10px 0px 10px;
}

.footer-link:hover {
  color: var(--footer-hover);
}

.footer-icon {
  width: 30px;
}
.footer-icon:hover {
  filter: brightness(0%);
}