<footer class="footer">
  <div class="footer-item">
    <a 
      *ngFor="let footerLink of footerLinks"
      class="footer-link" 
      routerLink=""
    >{{footerLink}}</a>
  </div>
  <div class="footer-item">
    <a 
      class="footer-link"
      [href]="iconData.path"
      *ngFor="let iconData of iconsData">
      <img
        draggable="false"
        class="footer-icon" 
        [src]="'assets/icons/' + iconData.name + '.svg'">
    </a>
  </div>
  <div class="footer-item">
    <p>Ⓒ 2022 my-network</p>
  </div>
</footer>

