.flex-my-message,
.flex-other-message {
  display: flex;
  align-items: flex-end;
  text-align: end;
}

.flex-other-message {
  text-align: start;
}

.my-message,
.other-message {
  position: relative;
  width: 300px;
  margin: 20px 10px 0 0;
  margin-left: auto;
  box-shadow: 0 0 0 1px;
  border-radius: 5px;
  overflow-wrap: break-word;
  padding: 10px 10px 3px 10px;
  background-color: #fff59d;
}

.other-message {
  margin-left: 10px
}

.unread-message::after {
  width: 20px;
  height: 17px;
  background-image: url('/assets/icons/unread-message.svg');
  content: '';
  position: relative;
  top: 0px;
  right: 300px;
  background-repeat: no-repeat;
}

.read-message::after {
  width: 20px;
  content: '';
}

.my-message::after,
.other-message::after {
  width: 10px;
  height: 10px;
  content: ' ';
  position: absolute;
  bottom: 15px;
  right: -5px;
  clip-path: polygon(-10% -10%, 110% -10%, 120% 120%, 50% 50%);
  transform: rotate(45deg);
  background-color: #fff59d;;
  box-shadow: 0 0 0 1px;
}

.other-message::after {
  left: -5px;
  clip-path: polygon(-10% -10%, -10% 110%, 110% 110%, 50% 50%)
}

.message-head-flex {
  display: flex;
  justify-content: space-between;
}
