.img-button,
.nav--img-logout,
.nav--img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: -50px 0;
  cursor: pointer;
}

.img-button:hover,
.img-button-hover,
.nav--img-logout:hover,
.nav--img-active,
.user-settings--trash:hover,
.user-pal--send-message:hover {
  object-position: 0;
}

/* ********************************* */

.user-add-pal--refresh {
  object-position: 0;
  height: 25px;
  width: 25px;
  transition: transform 1s;
}

.user-add-pal--refresh:hover {
  object-position: 0;
  transform: rotate(360deg);
}

/* ********************************* */

.spinner--img {
  object-position: 90px 0;
  clip-path: inset(0 33% 0 33%);
  width: 270px;
  animation-name: spinner;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}

@keyframes spinner {
  0%   {object-position: 90px 0;}
  0.0001%   {object-position: 0px 0;}
  25%  {object-position: 0px 0;}
  25.0001%  {object-position: -90px 0;}
  50%  {object-position: -90px 0;}
  50.0001%  {object-position: 0px 0;}
  75%  {object-position: 0px 0;}
  75.0001%  {object-position: 90px 0;}
  100% {object-position: 90px 0;}
}

/* ********************************* */

.user-pal--userpic {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user-pal--send-message {
  object-position: -100px 0%;
  object-fit: cover;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

/* ********************************* */

.user-chats--userpic {
  width: 50px;
}

.user-settings--trash {
  object-position: -30px 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.user-home--userpic,
.user-settings--userpic {
  width: 200px;
}

/* ********************************* */

.message--userPic {
  width: 60px;
  transform: scaleX(-1);
}

/* ********************************* */

.footer--link {
  width: 30px;
}
.footer--link:hover {
  filter: brightness(0%);
}