.flex-page {
  position: relative;
  height: 100vh;
  min-height: 630px;
}

.logo-wrapper {
  text-align: center;
}

.header-icon {
  object-position: -100px 0%;
  clip-path: inset(0 25% 0 25%);
  cursor: pointer;
  width: 400px;
}
.header-icon:hover {
  object-position: 100px 0;
}