.wrapper-home {
  text-align: center;
}
/* ************************************ */

.wrapper-user-info {
  max-width: 500px;
}

.button-wrapper,
.change-userpic-block {
  display: flex;
  justify-content: space-between;
}

.change-userpic-block {
  align-items: center;
}

.form-block {
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 10px;
  margin: 30px 0;
}
