<app-two-buttons
  class="change-userpic-block"
  [imgNamesSrc]="['previous','next']"
  (fnFirstButton)="previous()"
  (fnSecondButton)="next()">
  <app-img imgClass="user-settings--userpic" [imgNameSrc]="userPic" [isUserPic]="true"></app-img>
</app-two-buttons>
<form [formGroup]="userInfoFormGroup" class="wrapper-user-info">
  <app-input
    inputClass="user-settings--change-name-input"
    inputPlaceholder="user-name"
    formControlName="name"
    ngDefaultControl
  ></app-input>
    <form *ngFor="let form of userInfoForm.controls let i = index" class="form-block" [formGroup]="form">
      <app-button
        btnClass="user-settings--trash"
        (click)="removeInfo(i)"
        buttonType="button"
        imgNameSrc="trash"
        imgClass="user-settings--trash"></app-button>
      <app-input
        inputClass="user-settings--change-info-input"
        inputPlaceholder="title"
        formControlName="title"
        ngDefaultControl
      ></app-input>
      <app-textarea formControlName="value" ngDefaultControl></app-textarea>
    </form>
</form>
<app-button
  (click)="addInfo()"
  buttonType="button"
  imgNameSrc="add-info"
></app-button>
<app-two-buttons
  class="button-wrapper"
  [buttonTypes]="['button','submit']"
  [imgNamesSrc]="['cancel','ok']"
  (fnFirstButton)="cancel()"
  (fnSecondButton)="submit()"
></app-two-buttons>
