.user-navigate {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  min-height: 200px;
  box-shadow: 15px 0 10px -15px var(--gray);
}

.link-icon {
  object-position: -25px 0%;
  clip-path: inset(0 25% 0 25%);
  cursor: pointer;
  width: 100px;
}

.link-icon-active {
  object-position: 25px 0;
  box-shadow: 0px 15px 15px -10px white;
}

.link-icon-logout {
  object-position: -25px 0%;
  clip-path: inset(0 25% 0 25%);
  cursor: pointer;
  width: 100px;
}

.link-icon-logout:hover {
  object-position: 25px 0;
}
