.block-message-dashboard {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: overlay;
  width: 700px;
  height: 70vh;
  padding: 15px;
  border: 1px solid var(--gray);
  margin: 30px;
  border-radius: 10px;
}

.block-new-message {
  display: flex;
  flex-direction: row;
}

.new-message {
  border: 1px solid var(--gray);
  width: 640px;
  resize: none;
  margin: 0 0 30px 30px;
  height: 10vh;
  background-color: inherit;
  border-radius: 10px;
  padding: 10px;
}

.new-message:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: inherit;
  margin: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 3px;
}