<div class="wrapper-chat">
  <div #chatWindow class="block-message-dashboard" >
    <div class="block-message-wrapper">
      <app-message *ngFor="let message of messages"
      [isCurrentUser]="message.user.userName === currentUser?.userName"
      [userPic]="message.user.userPic"
      [message]="message"></app-message>
    </div>
  </div>
  <div class="block-new-message">
    <textarea
      (keydown)="sendMessageOrNewLine($event)"
      [(ngModel)]="message"
      spellcheck="false"
      class="new-message"
      placeholder="new-message"></textarea>
    <app-button
      buttonType="button"
      btnClass="button"
      imgSrc="assets/icons/send-message-new.svg"
      [imgClass]="isMessageSend ? 'page-icon page-icon-hover' : 'page-icon'"
      (click)="sendMessage()"></app-button>
  </div>
</div>
