<div class="flex-page">
  <div class="logo-wrapper">
    <img
      class="header-icon"
      src="assets/icons/whales.svg"
    />
    <app-hint [message]="hintMessage$ | async"></app-hint>
  </div>
  <form class="page-form" [formGroup]="registrationForm" (ngSubmit)="registrate()">
    <input
      *ngFor="let item of this.registrationService.inputData"
      (input)="setHintMessage()"
      [attr.id]="item.id ? item.id : null"
      [formControlName]="item.formControlName"
      spellcheck="false"
      class="registration-input"
      [attr.type]="item.type ? item.type : null"
      [placeholder]="item.placeholder"
    />
    <div class="button-wrapper">
      <app-button
        [ngClass]="registrationForm.invalid ? 'disable-icon' : ''"
        buttonType="submit"
        imgSrc="assets/icons/ok.svg"
      ></app-button>
      <app-button
        (click)="cancel()"
        imgSrc="assets/icons/cancel.svg"
      ></app-button>
    </div>
  </form>
  <app-footer></app-footer>
</div>
