<div class="flex-page">
  <div class="logo-wrapper">
    <img
      class="header-icon"
      src="assets/icons/whales.svg"
    />
    <!-- <div 
      [ngClass]="mainPageService.isInvalidForm(authForm) ? 'error-message-visible' : ''" 
      class="error-message-hidden">
      <img src="../../../assets/icons/message.svg"/>
      <ng-container *ngFor="let item of mainPageService.errorData">
        <p 
          *ngIf="mainPageService.getErrorMessage(authForm) == item[0]" 
          class="error-text-message">{{item[1]}}</p>
      </ng-container>
    </div> -->
  </div>
  <form class="registration-page-form" [formGroup]="registrationForm">
    <input 
      *ngFor="let item of inputData"
      [attr.id]="item.id ? item.id : null"
      [formControlName]="item.formControlName"
      spellcheck="false"
      class="registration-input"
      [attr.type]="item.type ? item.type : null"
      [placeholder]="item.placeholder"
    />
    <div>
      <button type="submit">
        <img
          routerLink="/"
          class="registration-icon ok"
          src="assets/icons/ok.svg"
        />
      </button>
      <button>
        <img
          routerLink="/"
          class="registration-icon cancel"
          src="assets/icons/cancel.svg"
        />
      </button>
    </div>
  </form>
  <app-footer></app-footer>
</div>
