.user-navigate {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  min-height: 200px;
  box-shadow: 15px 0 10px -15px var(--gray);
  text-align: center;
  width: 100px;
}

app-img {
  display: block;
}

.nav--new-message {
  position: relative
}

.nav--new-message::after {
  width: 40px;
  height: 20px;
  background-image: url('/assets/icons/unread-message.svg');
  content: '';
  position: absolute;
  top: 40px;
  left: 20px;
  background-repeat: no-repeat;
  animation-name: message;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes message {
  0%   {transform: rotate(-15deg);}
  50% {transform: rotate(30deg);}
  100% {transform: rotate(-15deg);}
}
