.nav-button {
  width: 140px;
  height: 100px;
}

.link-nav {
  object-position: -25px 0%;
  clip-path: inset(0 25% 0 25%);
  cursor: pointer;
  width: 100px;
}

.link-nav-active {
  object-position: 25px 0;
}

.link-nav-logout {
  object-position: -25px 0%;
  clip-path: inset(0 25% 0 25%);
  cursor: pointer;
  width: 100px;
}

.link-nav-logout:hover {
  object-position: 25px 0;
}

.user-nav-link {
  object-position: -25px 0%;
  clip-path: inset(0 25% 0 25%);
  cursor: pointer;
  width: 100px;
}

.user-nav-link-active {
  width: 300px;
  object-position: 25px 0;
}

.nav-img-logout {
  object-position: -35px 0%;
  clip-path: inset(0 25% 0 25%);
  cursor: pointer;
  width: 140px;
}

.nav-img-logout:hover {
  object-position: 35px 0;
}