.add-pal-wrapper {
  margin-top: 50px;
  width: 270px;
}

.secret-key-block {
  padding: 20px 0;
  position: relative;
  text-align: center;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}