
.img-userpic {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 10px 0;
}

.user-name {
  margin: 10px 0;
  font-size: 30px;
}

.wrapper-user-info {
  max-width: 500px;
}
