<div #chatWindow class="block-message-dashboard" >
  <div class="block-message-wrapper">
    <app-message
      *ngFor="let message of messages let i = index"
      (mouseenter)="readMessage(i, message)"
      [message]="message"
    ></app-message>
  </div>
</div>
<div class="block-nav--new-message">
  <app-textarea
    (keydown)="sendMessageOrNewLine($event)"
    [(ngModel)]="message"
    textareaClass="user-chat--new-message"
    textareaPlaceholder="new message"
    ngDefaultControl
  ></app-textarea>
  <app-button
    imgNameSrc="send-message"
    [imgClass]="isMessageSend ? 'img-button-hover' : ''"
    (click)="sendMessage()"
  ></app-button>
</div>

