.flex-user-page {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 100vh
}

.wrapper-user-content {
  width: 100%;
}

.user-navigate {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh
}

.flex-user-header {
  height: 150px;
  border: 1px solid black;
}

.flex-user-body {
  display: flex;
  flex-direction: row;
  height: 150px;
  background-color: rgb(141, 51, 168);
}


.user-conversations-list {
  width: 20vw;
  background-color: rgb(165, 211, 224);
}

.user-conversation {
  width: 60vw;
  background-color: rgb(160, 68, 14);
}