<div
  class="flex-my-message"
  (mouseenter)="!message.isRead ? readMessage() : null"
  [ngClass]="{
              'read-message': !isCurrentUser,
              'unread-message': !isCurrentUser && !message.isRead,
              'flex-other-message': !isCurrentUser
             }">
  <div
    class="my-message">
    <p class="message-name">{{pal?.userName}}</p>
    <p class="message-text">{{message.text}}</p>
  </div>
  <img
    class="my-icon"
    [src]="'assets/icons/user/' + pal?.userPic + '.svg'">
</div>
