.error-message {
  position: absolute;
  text-align: left;
  width: 155px;
  top: 10%;
  left: 50%;
  margin-left: -60px;
}

.block-error-message {
  position: relative;
  visibility: hidden;
}

.block-error-message-visible {
  visibility: visible;
}