.error-message {
  position: absolute;
  text-align: left;
  width: 155px;
  bottom: 40%;
  left: 34%;
}

.block-error-message {
  position: relative;
  visibility: hidden;
}

.block-error-message-visible {
  visibility: visible;
}