/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-image: linear-gradient(180deg, #b2bcff 40%, #ffd9ce 80%, #fff59d 100%);
  min-height: 100vh
}

img {
  -webkit-user-drag: none;
}

p {
  color: #525252;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}