:root {
  --bg-top: #b2bcff;
  --bg-middle: #ffd9ce;
  --bg-bottom: #fff59d;
  --gray: #525252;
  --dark-gray: #222222;
  --input-invalid: #ff5e5e;
  --input-valid: white;
  --footer-hover: black;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--gray);
  box-sizing: border-box;
  text-decoration: none;

  -webkit-user-drag:     none;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

body {
  background-image: linear-gradient(0deg, var(--bg-top) 40%, var(--bg-middle) 80%, var(--bg-bottom) 100%);
  height: 100%;
  background-attachment: fixed;
}

input:-webkit-autofill { 
  background-clip: text;
  -webkit-text-fill-color: var(--gray);
}

input, a {
  font-size: 15px;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: inherit;
  margin: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-gray);
}