<form class="page-form" [formGroup]="form" (ngSubmit)="_fnSubmit()" [name]="name">
  <app-input
    *ngFor="let item of formService.inputsData[name]"
    (input)="_fnInput()"
    [inputPlaceholder]="item.placeholder"
    [inputId]="item.id"
    [formControlName]="item.formControlName"
    [inputType]="item.type"
    ngDefaultControl
  ></app-input>
  <app-two-buttons
    class="button-wrapper"
    [form]="form"
    [buttonTypes]="formService.buttonsData[name].types"
    [imgNamesSrc]="formService.buttonsData[name].imgNamesSrc"
    [links]="formService.buttonsData[name].links"
  ></app-two-buttons>
</form>
